---
type Props = {
	titleSpan: string
}

const { titleSpan } = Astro.props
---

<h1 class='text-6xl font-bold first-letter:uppercase text-grad py-3 px-2'>
	<slot />
	<span class="text-gray-800">{titleSpan}</span>
</h1>
